:root {
  --main-size: 16px;
  --element-size : 44px;
  --large-padding: 28px;
  --medium-padding: 20px;
  --small-padding: 16px;
  --accent-color: #6b28e6;
  --accent-color2: #783fe2;
  --accent-color-border: #7c3bf3;
  --gradient: linear-gradient(var(--accent-color), var(--accent-color2));
  --bg-color: #eae7f0;
  --element-button-color: #eae7f0;
  --active-color: #ccbfe2;
  --element-color: #f8f7fa;
  --status-green: rgb(129, 230, 129);
  --status-red: rgb(230, 129, 129);
  --text-color: #1f1f22;
  --element-radius: 5px;
  --button-padding: 8px 12px;
  --element-transition: all 0.5s;
  --element-width: calc(var(--element-size) * 1.5);

  @media screen and (max-width: 600px) {
    --main-size: 12px;
    --large-padding-y: 8px;
    --medium-padding: 16px;
    --small-padding: 12px;
    --button-padding: 6px 10px;
    --element-transition: none;
  }
}

.listContainer {
  transition: var(--element-transition);
  font-size: var(--main-size);
  padding: var(--large-padding);
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--medium-padding);
  transition: inherit;
  padding: var(--medium-padding);

  h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: capitalize;
    white-space: nowrap;
  }
  button {
    padding: var(--button-padding);
    background: var(--gradient);
    border: 1px solid var(--accent-color-border);
    color: var(--element-button-color);
    border-radius: var(--element-radius);
    font-weight: bold;
    white-space: nowrap;
    outline: none;
  }
}

.list {
  transition: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--small-padding);
}

.listItem {
  gap: var(--small-padding);
  padding: var(--medium-padding);
  border-radius: var(--element-radius);
  background-color: var(--element-color);
  transition: inherit;
  position: relative;
  z-index: auto;
  display: grid;
  grid-template-columns: var(--element-width) var(--element-width) 1fr 1fr 1fr 1fr 1fr var(--element-width);
  grid-template-areas: "check avatar info company number status date edit";
  p{
    white-space: nowrap;
  }
  & > * {
    align-self: center;
    place-self: center;

  }




  .avatar {
    grid-area: avatar;
    max-width: calc(var(--element-size) * 1.5);
    height: calc(var(--element-size) * 1.5);
    width :100%;
    & > * {
      width: 100%;
      height: 100%;
      border-radius: var(--element-radius);
      background-color: var(--accent-color);
    }
    img {
      object-fit: cover;
      object-position: center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-weight: bold;
        color: var(--element-button-color);
      }
    }
    @media screen and (max-width: 992px) {
      max-width: calc(var(--element-size) * 2);
      height: calc(var(--element-size) * 2);
    }
  }
  .info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--small-padding);
    h3{
      font-weight: bold;
      font-size: 1.2em;
      text-transform: capitalize;
    }
    @media screen and (max-width: 992px) {
      /* justify-self: flex-end; */
      flex-direction: row;
      justify-content: start;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .itemButton {
    max-width: var(--element-size);
    width: var(--element-size);
    height: var(--element-size);
    border-radius: var(--element-radius);
    transition: var(--element-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    svg {
      background-color: transparent;
      color: var(--accent-color);
    }
    &:hover {
      background-color: var(--active-color);
    }
    &:first-child{
      grid-area: check;
      align-self: flex-start;

      }
    &:last-child{
      grid-area: edit;
      }
  }
  .editNav{
    position: absolute;
    right: 0;
    top: calc(100% - 15px);
    top: 100%;
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    z-index: 99;
    background-color: var(--element-color);
    border-radius: var(--element-radius);
    color: var(--accent-color);
    font-weight: bold;
    &::before{
      content: "";
      width: var(--small-padding);
      height: var(--small-padding);
      top: -8px;
      right: 32px;
      display: block;
      position: absolute;
      background-color: inherit;
      transform: rotate(45deg);
      border-top: 1px solid var(--accent-color);
      border-left: 1px solid var(--accent-color);
      z-index: 1; 
    }
    a{
      padding :var(--small-padding);
      display: flex;
      align-items: center;
      gap :var(--small-padding);
      transition: var(--element-transition);
      z-index: 99;
      &:hover{
        background-color: var(--active-color);
      }
    }
  }
  .status{
    grid-area: status;
    border-radius: var(--element-radius);
    height: var(--element-size);
    color: var(--text-color);
    font-weight: bold;
    width :100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company{
    grid-area: company;
  }
  .number{
    grid-area: number;
    @media screen and (max-width: 992px) {
      width: 100%;
      text-align: right;
    }
  }
  .date{
    grid-area: date;
    @media screen and (max-width: 992px) {
      width: 100%;
      text-align: left;
    }
  }
  @media screen and (max-width: 992px) {
    grid-template-columns:  auto 1fr 1fr;
    grid-template-areas: "avatar info check"
                        "date company number"
                        "status status  edit "
    ;
  }


}
.activeStatus{
  background-color: var(--status-green);
}
.inactiveStatus{
  background-color: var(--status-red);
}

.activeItem {
  background: var(--active-color);
  .itemButton:hover{
    background-color: var(--element-button-color);
  }
}
