:root {
  --main-size: 16px;
  --large-padding: 28px;
  --medium-padding: 20px;
  --small-padding: 16px;
  --accent-color: #6b28e6;
  --accent-color2: #783fe2;
  --accent-color-border: #7c3bf3;
  --gradient: linear-gradient(var(--accent-color), var(--accent-color2));
  --bg-color: #eae7f0;
  --element-button-color: #eae7f0;
  --active-color: #ccbfe2;
  --element-color: #f8f7fa;
  --text-color: #1f1f22;
  --element-radius: 5px;
  --button-padding: 8px 12px;
  --element-transition: all 0.5s;

  @media screen and (max-width: 600px) {
    --main-size: 12px;
    --large-padding-y: 8px;
    --medium-padding: 16px;
    --small-padding: 12px;
    --button-padding: 6px 10px;
    --element-transition: none;
  }
}

.listContainer {
  transition: var(--element-transition);
  font-size: var(--main-size);
  padding: var(--large-padding);
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--medium-padding);
  transition: inherit;
  padding: var(--medium-padding);

  h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: capitalize;
    white-space: nowrap;
  }
  button {
    padding: var(--button-padding);
    background: var(--gradient);
    border: 1px solid var(--accent-color-border);
    color: var(--element-button-color);
    border-radius: var(--element-radius);
    font-weight: bold;
    white-space: nowrap;
    outline: none;
  }
}

.list {
  transition: inherit;
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
}

.listItem {
  display: flex;
  justify-content: space-between;
  gap: var(--small-padding);
  padding: var(--medium-padding);
  border-radius: var(--element-radius);
  background-color: var(--element-color);
  transition: inherit;
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .avatar {
    max-width: 44px;
    height: 44px;
    flex-shrink: 0;
    & > * {
      width: 100%;
      height: 100%;
      border-radius: var(--element-radius);
      background-color: var(--accent-color);
    }
    img {
      object-fit: cover;
      object-position: center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-weight: bold;
        color: var(--element-button-color);
      }
    }
  }
  .itemButton {
    max-width: 44px;
    width: 44px;
    height: 44px;
      svg {
        background-color: transparent;
        color: var(--accent-color);
      }
  }
}

.active {
  background: var(--active-color);
  background: var(--active-color);
}
