:root{
    --form-color: 250;
    --form-accent-color: hsl(var(--form-color), 75%, 55%);
    --form-accent-color2: hsl(var(--form-color), 50%, 70%);
    --form-element-bg-color: hsl(var(--form-color), 20%, 90%);
    --form-text-color: hsl(var(--form-color), 15%, 20%);
    --form-border-color: hsl(var(--form-color), 40%, 80%);
    --form-hover-color: hsl(var(--form-color), 85%, 45%);
}

.container{
    width :100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: inherit;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-element-bg-color);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    label{
        position: relative;
        width :100%;
        span{
            position: absolute;
            top: 0px;
            left: 10px;
            transform: translateY(-50%);
        }
        input{
            width: 100%;
            padding :10px 20px;
        }
    };
    .error{
        color: red;
    }
}