:root {
  --timer-color: 220;
  --timer-accent-color: hsl(var(--timer-color), 75%, 55%);
  --timer-accent-color2: hsl(var(--timer-color), 50%, 70%);
  --timer-element-bg-color: hsl(var(--timer-color), 20%, 90%);
  --timer-text-color: hsl(var(--timer-color), 15%, 20%);
  --timer-border-color: hsl(var(--timer-color), 40%, 80%);
  --timer-hover-color: hsl(var(--timer-color), 85%, 45%);

  --timer-element-size: 160px;
  --timer-size: 600px;
  --timer-padding : 20px;
  --number-size: 80px;

  @media screen and (max-width: 600px) {  
    --timer-element-size : 100px;
    --timer-padding : 10px;
    --number-size: 50px;
    
  }
}

.container {
  width: 100%;
  height: 100%;
  padding : var(--timer-padding);
  background-image: url("./image/ocean.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--timer-text-color);
  font-weight: bold;
  font-size: 30px;
  .timer {
    width :100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--timer-hover-color); /* Цвет текста таймера */
    gap: var(--timer-padding);
    width: var(--timer-size);
    .timeElement{
      width: var(--timer-element-size);
      height: var(--timer-element-size);
      position: relative;
      padding: var(--timer-padding);
      background: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
      backdrop-filter: blur(10px); /* Размытие фона под элементом */
      border-radius: 10px; /* Скруглённые края для эстетики */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
      display: flex;
      justify-content: s;
      span{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
      }

      .number{
          font-size: var(--number-size);
          font-weight: bold;
          text-align: center;
      }
      .name{
        position: absolute;
        top: 20px;
        width :100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .alert{
    min-width : var(--timer-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .hour, .minute, .menu{
      width: var(--timer-element-size);
      height: var(--timer-element-size);
      padding: var(--timer-padding);
      background: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
      backdrop-filter: blur(10px); /* Размытие фона под элементом */
      border-radius: 10px; /* Скруглённые края для эстетики */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button{
        padding: 5px;
        background: var(--timer-accent-color);
        border: 1px solid var(--timer-border-color);
        color: var(--timer-element-bg-color);
        border-radius: 10px;
        font-weight: bold;
        white-space: nowrap;
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        width :44px;
        height: 44px;
        &:hover{
          background: var(--timer-hover-color);
        }
      }
    }
  }
}
