:root{
    --proggress-main-padding: 22px;
    --progress-text-color: #171718;
    --progress-bg-color: #c4cad6;
    --progress-accent-color: #1055e9;
    --progress-element-light-color: #051d50;
    --progress-element-dark-color: #aabde7;
    --progress-radius: 10px;
    --padding: 10px;
    --line-height: 10px;

}
.container{
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--proggress-main-padding);
    padding: var(--proggress-main-padding);
}

.progressBar {
    width: 300px;
    background: var(--progress-bg-color); 
    height: 70px;
    border-radius: var(--progress-radius);
    padding: var(--padding);
    position: relative;
    .counter{
        position: absolute;
        top: calc(var(--padding) * -1);
        left: calc(var(--padding) * -1);
        width : 25px;
        height: 25px;
        background-color: var(--progress-element-dark-color);
        border-radius: 50%;
        color: var(--progress-element-light-color);
        font-weight: bold;
        font-size: 14px;
        &>*{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.dashedProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    .line{
        position: relative;
        width: 100%;
        height: var(--line-height);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .dashed{
            width: 100%;
            height: 100%;
            background: var(--progress-element-dark-color);
            border-radius: 10px;
        }  
        .active{
            background: var(--progress-accent-color);
        } 
    }
}
.procentProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    .line{
        position: relative;
        width: 100%;
        background: var(--progress-element-dark-color);
        height: var(--line-height);
        border-radius: 10px;
        .progressOne{
            position: relative;
            background: var(--progress-accent-color);
            height:  inherit;
            border-radius: var(--progress-radius);
        }  
        .procentOne{
            top: -30px;
            right: -10px;
            width :30px;
            height: 30px;
            border-radius: 3px;
            padding: 5px;
            font-weight: bold;
            position: absolute;
            background-color: var(--progress-element-light-color);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--progress-element-dark-color);
            scale: 0.7;
            /* arrow botton */
            &::after{
                content: "";
                position: absolute;
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);
                border-top: 5px solid var(--progress-element-light-color);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }

        .progressTwo{
            background: var(--progress-accent-color);
            height:  inherit;
            border-radius: var(--progress-radius);
        }  
        .procentTwo{
            position: absolute;
            color: var(--progress-element-light-color);
            top: -25px;
            left: 0;
            right: 0;
            width : 100%;
            text-align: center;
            font-weight: bold;
        }

    }

  }

.stepProgressBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    .section{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle{
        height: 50px;
        width : 50px;
        svg{
            width :100%;
            height: 100%;
            .back{
                fill: none;
                stroke: var(--progress-element-dark-color);
                stroke-width: var(--line-height)
            }
            .front{
                fill: none;
                stroke: var(--progress-accent-color);
                stroke-width: var(--line-height);
                transform: rotate(-90deg);
                transform-origin: center;
            };
            .text{
                position: absolute;
                fill: var(--progress-element-light-color);
                top: 50%;
                left: 50%;
                font-weight: bold;
                font-size: 12px;
                color: var(--progress-element-light-color);
            }
        }
    }
    .steps{
        width :100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &>*{
            flex-grow: 1;
        }
    }
    .step {
        position: relative;
        padding: 5px;
        background-color: var(--progress-element-dark-color);
        color: var(--progress-element-light-color);
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
        overflow-inline: hidden;
        z-index: 0;
      
        &.active {
          background-color: var(--progress-accent-color);
          color: var(--progress-element-dark-color);
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: -12px; /* Смещение вправо */
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 12px solid var(--progress-accent-color); 
        }
        }
        &:last-child::before {
          display: none;
        }
      }
      
}

.decoreProgressBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .line{
        position: relative;
        width: 100%;
        /* dashed with 10 rows gradient */
        background: linear-gradient(-45deg, 
            var(--progress-element-dark-color), 
            var(--progress-element-dark-color) 5%, 
            var(--progress-accent-color) 5%, 
            var(--progress-accent-color) 10%, 
            var(--progress-element-dark-color) 10%,
            var(--progress-element-dark-color) 15%,
            var(--progress-accent-color) 15%,
            var(--progress-accent-color) 20%,
            var(--progress-element-dark-color) 20%,
            var(--progress-element-dark-color) 25%,
            var(--progress-accent-color) 25%,
            var(--progress-accent-color) 30%,
            var(--progress-element-dark-color) 30%,
            var(--progress-element-dark-color) 35%, 
            var(--progress-accent-color) 35%,
            var(--progress-accent-color) 40%,
            var(--progress-element-dark-color) 40%,
            var(--progress-element-dark-color) 45%,
            var(--progress-accent-color) 45%,
            var(--progress-accent-color) 50%,
            var(--progress-element-dark-color) 50%,
            var(--progress-element-dark-color) 55%,
            var(--progress-accent-color) 55%,
            var(--progress-accent-color) 60%,
            var(--progress-element-dark-color) 60%,
            var(--progress-element-dark-color) 65%,
            var(--progress-accent-color) 65%,
            var(--progress-accent-color) 70%,
            var(--progress-element-dark-color) 70%,
            var(--progress-element-dark-color) 75%,
            var(--progress-accent-color) 75%,
            var(--progress-accent-color) 80%,
            var(--progress-element-dark-color) 80%,
            var(--progress-element-dark-color) 85%,
            var(--progress-accent-color) 85%,
            var(--progress-accent-color) 90%,
            var(--progress-element-dark-color) 90%,
            var(--progress-element-dark-color) 95%,
            var(--progress-accent-color) 95%,
            var(--progress-accent-color)
        );
        height: var(--line-height);
        border-radius: 10px;
    }
    .procent{
        position: relative;
        background: var(--progress-element-dark-color);
        height: 100%;
        margin-left: auto;
    }
}

.dashedStepProgressBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    .circle{
        height: 50px;
        width : 50px;
        svg{
            width :100%;
            height: 100%;
            .back{
                fill: none;
                stroke: var(--progress-element-dark-color);
                stroke-width: var(--line-height)
            }
            .front{
                fill: none;
                stroke: var(--progress-accent-color);
                stroke-width: var(--line-height);
                transform: rotate(-90deg);
                transform-origin: center;
            };
            .text{
                position: absolute;
                fill: var(--progress-element-light-color);
                top: 50%;
                left: 50%;
                font-weight: bold;
                font-size: 12px;
                transform: translate(-50%, -50%);
            }
        }
    }
}


