:root{
    --proggress-main-padding: 22px;
    --progress-text-color: #171718;
    --progress-bg-color: #c4cad6;
    --progress-accent-color: #1055e9;
    --progress-element-light-color: #051d50;
    --progress-element-dark-color: #aabde7;
    --progress-radius: 10px;
    --padding: 10px;

}
.container{
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--proggress-main-padding);
    padding: var(--proggress-main-padding);
}

.progressBar {
    width: 300px;
    background: var(--progress-bg-color); 
    height: 70px;
    border-radius: var(--progress-radius);
    padding: var(--padding);
    position: relative;
    .counter{
        position: absolute;
        top: calc(var(--padding) * -1);
        left: calc(var(--padding) * -1);
        width : 25px;
        height: 25px;
        background-color: var(--progress-element-dark-color);
        border-radius: 50%;
        color: var(--progress-element-light-color);
        font-weight: bold;
        font-size: 14px;
        &>*{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.dashedProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    .line{
        position: relative;
        width: 100%;
        height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .dashed{
            width: 100%;
            height: 100%;
            background: var(--progress-element-dark-color);
            border-radius: 10px;
        }  
        .active{
            background: var(--progress-accent-color);
        } 
    }
}
.procentProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    .line {
        height: 10px;
        background-color: var(--progress-accent-color);
        border-radius: 10px;
        width: 0%;
        transition: width 0.3s ease-in-out;
      }
  }
  



