:root {
  --rate-color: 110;

  --rate-accent-color: hsl(var(--rate-color), 75%, 55%);
  --rate-accent-color2: hsl(var(--rate-color), 50%, 70%);
  --rate-element-bg-color: hsl(var(--rate-color), 20%, 90%);
  --rate-text-color: hsl(var(--rate-color), 15%, 20%);
  --rate-border-color: hsl(var(--rate-color), 40%, 80%);
  --rate-hover-color: hsl(var(--rate-color), 85%, 45%);


  --rate-background: #fff;
  --rate-width: 500px;
  --rate-padding: 20px;
  --rate-element-padding: 10px;
  --rate-input-width: 10px;
  --rate-element-radius: 5px;
  --rate-transition: all .3s ease;

  @media screen and (max-width: 600px) {
    --rate-width: 100%;
    --rate-padding: 10px;
    --rate-element-padding: 5px;
    --rate-transition: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: var(--rate-width);
  padding: var(--padding);
  height: 100%;
  background-color: var(--rate-element-bg-color);
}
.rangeContainer {
  width: 100%;
  max-width: var(--rate-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--rate-element-bg-color);

  border-radius: var(--rate-element-radius);
  .label {
    touch-action: none; 
    width: 100%;
    min-height: 50px;
    padding: var(--rate-element-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: var(--rate-transition);
    background-color: var(--rate-element-bg-color);
    border-radius: var(--rate-element-radius);
    &:hover {
        .filled {
            transition: inherit;
            background-color: var(--rate-hover-color);
        }
        .cursor {
            transition: inherit;
            background-color: var(--rate-hover-color);
        }
    }
  }
  .track {
    transition: inherit;
    position: relative;
    width: 100%;
    height: var(--rate-input-width);
    background: var(--rate-accent-color2);
    border-radius: var(--rate-element-radius);
    cursor: pointer;
  }
  .filled {
    transition: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--rate-accent-color);
    border-radius: 5px 0 0 5px;
  }
  .cursor {
    transition: inherit;
    position: absolute;
    top: 50%;
    width: 20px; /* Замените на фиксированное значение */
    height: 20px; /* Замените на фиксированное значение */
    background: var(--rate-accent-color);
    border: 2px solid var(--rate-element-bg-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px var(--rate-accent-color);
  }
  .wiev {
    color: var(--rate-text-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: var(--rate-element-padding);
    height: auto;
    background-color: transparent;
  }
}

form{
  
  max-width: 250px;
  height: 100%;
  border-radius: var(--rate-element-radius);
  padding: calc(var(--rate-element-padding)*3) var(--rate-element-padding);
  color: var(--rate-text-color);
  box-shadow: 0 0 10px var(--rate-text-color);
  background: var(--rate-background);
  transition: var(--rate-transition);
  h2{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: var(--rate-element-padding);
    transition: inherit;
  }
  p{
    text-align: center;
    font-size: 10px;
    margin-bottom: var(--rate-element-padding);
    transition: inherit;
  }
  label{
    width: 100%;
    height: 30px;
    border-radius: var(--rate-element-radius);
    background-color: var(--rate-background);
    color: var(--rate-text-color);
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--rate-element-padding);
    position: relative;
    transition: inherit;
    span{
      background: var(--rate-background);
      position: absolute;
      top : -5px;
      left: 6px;
      padding : 0 5px;
      font-size: 8px;
      transition: inherit;
    }
    input{
      width: 100%;
      height: 100%;
      border-radius: var(--rate-element-radius);
      border: none;
      background-color: var(--rate-background);
      border: 1px solid var(--rate-border-color);
      color: var(--rate-text-color);
      font-size: 10px;
      font-weight: bold;
      text-transform: capitalize;
      padding: var(--rate-element-padding);
      outline: none;
      transition: inherit;
      &:hover{
        border-color: var(--rate-hover-color);
      }
      &:focus{
        border-color: var(--rate-accent-color);
      }
    }

  }

  button{
    width: 100%;
    height: 30px;
    border-radius: var(--rate-element-radius);
    border: 1px solid var(--rate-border-color);
    background-color: var(--rate-accent-color);
    color: var(--rate-border-color);
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    transition: inherit;

    &:hover{
      background-color: var(--rate-hover-color);
    }
  }
}
