:root {
  --smile-bg: hsl(188, 75%, 85%);

  --smile-person: hsl(67, 75%, 55%);
  --smile-person2: hsl(67, 50%, 70%);

  --mouth-color: hsl(0, 75%, 55%);
  --mouth-color2: hsl(0, 50%, 70%);
  --eyes-color: hsl(51, 1%, 90%);
  --eyes-color2: hsl(51, 15%, 20%);

  --smile-border-color: hsl(51, 90%, 5%);
}

.smile {
  background-color: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  /* cursor: none; */

  .cursor {
    position: absolute;
    fill: var(--smile-border-color);
    transform: translate(-50%, -50%);
    pointer-events: none; 
  }

  .person {
    .face {
      fill: var(--smile-person);
      stroke: var(--smile-border-color);
      filter: drop-shadow(0 0 5px var(--smile-border-color));
    }
    .eye {
      fill: var(--eyes-color);
      stroke: var(--smile-border-color);
      filter: drop-shadow(0 0 5px var(--smile-border-color));
      transition: all 0.2s;
      *>path {
        transition: all 0.2s;
      }
    }
    .mouth {
      fill: transparent;
      stroke: var(--mouth-color);
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
      filter: drop-shadow(0 0 5px var(--smile-border-color));
      transition: all 0.2s;
    }
  }

  .products{
    position: absolute;
    bottom: 0;
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    .product{
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: var(--smile-person2);
      border: 1px solid var(--smile-border-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
